@import url("pygment.css");
@import url("typogrify.css");
/** BASIC */
body {
    font: normal small Arial, Helvetica, sans-serif;
    color: #83895C;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-top: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #CC6600;
}

a {
    text-decoration: none;
    color: #CC6600;
    border-bottom: 1px solid #EBA45E;
}

a:hover {
    border: none;
}

/** HEADER */
#header {
    width: 90%;
    height: 80px;
    margin: 0 auto;
}

#header h1 {
    margin: 0;
    padding: 30px 10px 0 20px;
    text-transform: lowercase;
    font-size: 36px;
    letter-spacing: -.05em;
    color: #83895C;
}

#header h2 {
    display: none;
}

#header a {
    text-decoration: none;
    color: #83895C;
    border-bottom: inherit;
}

#container {
    background: #EFEBDF;
    color: #CC6600;
    border: 2px solid #83895C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    float: left;
    margin: 0 10px;
}

/** MENU */
#menu {
    width: 90%;
    margin: -2.25em auto 0 auto;
    padding: 5px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

#menu li {
    display: inline;
}

#menu a {
    padding: 0 10px 0 11px;
    border: none;
    border-left: 1px solid #83895C;
    color: #83895C;
}

#menu a:hover {
    color: #83895C;
}

#menu .first a {
    border: none;
}

/** CONTENT */
#main {
    width: 90%;
    margin: 0 auto;
    background: #EFEBDF;
    border: 3px solid #83895C;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    list-style: none;
}

#main * {
    line-height: 140%;
}

#main a {
    border: none;
}

#main a:hover {
    border-bottom: 1px dotted;
}

#columnA {
    margin: 1% auto 1% 1%;
    float: left;
    width: 65%;
    background: #EFEBDF;
}

#columnB {
    float: right;
    width: 32%;
    background: #83895C;
    padding: 5px;
    border: 3px solid #83895C;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

#columnB * {
    color: #EFEBDF;
}

#columnB ul {
    margin-left: 0;
    padding-left: 10px;
    list-style: inside circle;
}

#columnB a {
    border-bottom-color: #EBD8B7;
    color: #FFFFFF;
}

#blogteaser {
    padding-left: 20px;
}

#blogteaser p.blog_info {
    font-style: italic;
    font-size: 80%;
    margin-top: 0px;
}

#articleteaser {
    font-style: inherit;
}

#articleteaser p {
    font-style: inherit;
}

#articleteaser {
    font-size: 80%;
    margin-top: 0px;
}

p.article_info tbody.article_info {
    margin-top: 0px;
    font-size: 80%;
}

.article_title {
    text-decoration: none;
    display: block;
    margin-bottom: 0px;
}

#articles-tag-cloud { text-align: center; margin: 0 20px; }
.tag-cloud-8 { font-size: 100%; }
.tag-cloud-7 { font-size: 120%; }
.tag-cloud-6 { font-size: 140%; }
.tag-cloud-5 { font-size: 160%; }
.tag-cloud-4 { font-size: 180%; }
.tag-cloud-3 { font-size: 200%; }
.tag-cloud-2 { font-size: 220%; }
.tag-cloud-1 { font-size: 240%; }

/** FOOTER */
#mainfooter {
    width: 90%;
    margin: 0 auto;
}

#mainfooter p {
    margin: 0;
    padding: 5px 0 0 20px;
    font: bold 9px Arial, Helvetica, sans-serif;
}

#mainfooter a {
    text-decoration: none;
    border: none;
}
