<div id="article-meta">
    <h4>Meta</h4>
    <p><strong>Published</strong>: {{ article.locale_date }}</p>
    <p><strong>Author</strong>: <a href="{{ SITEURL }}/author/{{ article.author }}.html" title="Read other articles by this author">{{ article.author }}</a></p>
    <p><strong>Word Count</strong>: {{ article.content|striptags|wordcount }}</p>
    <h4>Tags</h4>
    <p>{% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{tag.url }}">{{ tag }}</a> {% endfor %}{% else %}None{% endif %}</p>
    {% if article.related_posts %}
    <h4>Related posts</h4>
    <ul>
        {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
