{% extends "base.html" %}
{% block title %}Archives{% endblock %}
{% block content %}
<div id="article-archives">
    <ol class="article-list">
    {% for article in dates %}
        <li>
            <h3><a href="{{ SITEURL }}/{{ article.url }}" title="Read this article">{{ article.title|striptags }}</a></h3>
            <div class="quiet">
                Posted on {{ article.locale_date }}
                by <a href="{{ SITEURL }}/author/{{ article.author }}.html" title="Read other articles by this author">{{ article.author }}</a>
            </div>
        </li>
    {% endfor %}
    </ol>
</div>
{% endblock %}
