{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<div id="article-content" class="article">
    <h2 class="title">{{ article.title }}</h2>
    {% if TWITTER_USERNAME %}{% include 'twitter.html' %}{% endif %}

    {{ article.content|safe }}
</div>
{% include '_meta.html' %}
{% if article.attachments %}
<h3>Attachments</h3>
<ul>
    {% for att in article.attachments|list %}
    <li id="attachment-{{ loop.index }}" class="attachment ct">
    <a href="{{ att['url'] }}" class="attachment-link">{{ att['name'] }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if DISQUS_SITENAME %}
<div id="disqus_thread"></div>
<script type="application/javascript">
    var disqus_identifier = ({{ article.id }}) ? {{ article.id }} : "{{ article.slug }}";
</script>
<script type="application/javascript" src="http://disqus.com/forums/{{ DISQUS_SITENAME }}/embed.js"></script>
<noscript><a href="http://disqus.com/forums/{{ DISQUS_SITENAME }}/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
{% endblock %}
