{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles_page.object_list %}        
        <div id='articleteaser'>
            <h2 class="article_title">{{ article.title|striptags }}</h2>
            <p class="article_info">By {{ article.author }}, posted {{ article.locale_date }}</p>
            {{ article.summary|safe }}</p>
            <p><a href="{{ SITEURL }}/{{ article.url }}" title="Read more...">Read more...</a></p> 
        </div>
        <br />
        {% if loop.last %}
            {% if loop.last and (articles_page.has_previous() 
            or not articles_page.has_previous() and loop.length > 1) %}
            {% block paginator %}
            <a href="{{ SITEURL }}/archives.html">Older articles...</a>
            {% endblock %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
